<script>
  function confirmLogout() {
    return confirm('Do you really want to logout?');
  }

  function confirmEditProfile() {
    return confirm('Do you really want to edit your profile?');
  }

  function confirmEditPassword(){
    var newPass = document.forms["editpassform"]["newpassword2"].value;
    var conNewPass = document.forms["editpassform"]["newrepassword2"].value;
    if(newPass == conNewPass){
      return confirm('Do you really want to edit your password?');
    }else {
      alert("Password Not Match !");
      return false;
    }
  }
</script> {{# if login}} {{# if uname}}
<div class="dropdown">
  <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-user-o" aria-hidden="true"></i> Welcome : {{uname}} &nbsp
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{!--
    <a class="dropdown-item" href="/myprofile">My profile</a> --}}
    <a class="dropdown-item" data-toggle="modal" data-target="#myProfileModal" id="profilebtn">My profile</a>
    <a class="dropdown-item" href="/logout" onclick="return confirmLogout()">Logout</a>
  </div>
</div>
{{/if}} {{else}}
<button class="btn btn-outline-success my-2 my-sm-0" onclick="window.location.href='/login'">Login</button>
{{/if}}
<input type="hidden" name="usernameOfUser" id="usernameOfUser" value="{{uname}}">
<div class="modal fade" id="myProfileModal" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myProfileModalLabel">Profile of {{uname}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body form-group row">
        {{# each informationOfUser}}
          <label for="staticID" class="col-sm-4 col-form-label"><strong>ID</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticID" value="{{this.id}}">
          </div>

          <label for="staticEmail" class="col-sm-4 col-form-label"><strong>Email</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{this.email}}">
          </div>

          <label for="staticUsername" class="col-sm-4 col-form-label"><strong>Username</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticUsername" value="{{this.username}}">
          </div>

          <label for="staticStatus" class="col-sm-4 col-form-label"><strong>Status</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticStatus" value="{{this.status}}">
          </div>

          <label for="staticRegisterDate" class="col-sm-4 col-form-label"><strong>Register date</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticRegisterDate" value="{{this.registerDate}}">
          </div>
          <label for="staticLastEdit" class="col-sm-4 col-form-label"><strong>Last update</strong></label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="staticLastEdit" name="staticLastEdit" value="{{this.lastEdit}}">
          </div>
        {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editProfileModal">Edit profile</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#editPasswordModal">Edit password</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Edit profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{# each informationOfUser}}
          <form action="/editprofile/{{this.id}}" method="post" class="form-group row" onsubmit="return confirmEditProfile()">
            <label for="staticID" class="col-sm-4 col-form-label"><strong>ID</strong></label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="staticID" name="staticID" value="{{this.id}}">
            </div>

            <label for="staticEmail" class="col-sm-4 col-form-label"><strong>Email</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="staticEmail" name="staticEmail" value="{{this.email}}">
            </div>

            <label for="staticUsername" class="col-sm-4 col-form-label"><strong>Username</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="staticUsername" name="staticUsername" value="{{this.username}}">
            </div>

            <label for="staticStatus" class="col-sm-4 col-form-label"><strong>Status</strong></label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="staticStatus" name="staticStatus" value="{{this.status}}">
            </div>

            <label for="staticRegisterDate" class="col-sm-4 col-form-label"><strong>Register date</strong></label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="staticRegisterDate" name="staticRegisterDate" value="{{this.registerDate}}">
            </div>
            <label for="staticLastEdit" class="col-sm-4 col-form-label"><strong>Last update</strong></label>
            <div class="col-sm-8">
              <input type="text" readonly class="form-control" id="staticLastEdit" name="staticLastEdit" value="{{this.lastEdit}}">
            </div>
            <input type="hidden" name="staticPassword" id="staticPassword" value="{{this.password}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
        {{/each}}
    </div>
  </div>
</div>

<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalLabel">Edit password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{# each informationOfUser}}
      <form action="/editpassword/{{this.id}}" method="post" name="editpassform" onsubmit="return confirmEditPassword()">
      <input type="hidden" name="oldpassword" id="oldpassword" value="{{this.password}}">
      <input type="hidden" name="id2" id="id2" value="{{this.id}}">
      <input type="hidden" name="email2" id="email2" value="{{this.email}}">
      <input type="hidden" name="username2" id="username2" value="{{this.username}}">
      <input type="hidden" name="status2" id="status2" value="{{this.status}}">
      <input type="hidden" name="registerDate2" id="registerDate2" value="{{this.registerDate}}">
      <div class="modal-body form-group row">
        {{!-- <label for="staticPassword" class="col-sm-4 col-form-label"><strong>Old Password</strong></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="oldpassword2" name="oldpassword2">
          </div>
          <hr> --}}
        <label for="newpassword2" class="col-sm-4 col-form-label"><strong>Password</strong></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="newpassword2" name="newpassword2">
          </div>

        <label for="newrepassword2" class="col-sm-4 col-form-label"><strong>Re-Password</strong></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="newrepassword2" name="newrepassword2">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
      {{/each}}
    </div>
  </div>
</div>